@tailwind base;

@tailwind components;

@tailwind utilities;



@layer components {

  /* this is the start of navbar css */
  nav {
    min-height: 8vh;
    font-family: 'Merienda', cursive;
    @apply flex justify-around items-center bg-gray-700;
  }

  .logo {
    @apply text-blue-100 uppercase tracking-widest text-3xl font-bold;
  }

  .nav-links {
    width: 40%;
    @apply flex  mx-0;
  }

  .nav-links li {
    padding-top: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
    padding-left: 20px;
   @apply list-none text-green-100 hover:bg-green-400 hover:text-gray-800 text-center cursor-pointer ;

  }

  .nav-links .active {

   @apply bg-green-400 text-gray-800 font-bold text-2xl;
  }

  .nav-links a {
    @apply  no-underline tracking-wider font-bold text-2xl;
  }

  .burger {
    display: none;
  }

  .burger div {
    width: 25px;
    height: 3px;
    background-color: white;
    margin: 5px;
    transition: all 0.3s ease;
  }

  @media screen and (max-width:950px) {
    body {
      overflow-x: hidden;
    }
  }

  @media screen and (max-width:950px) {
    .nav-links {
      width: 60%;
      right: 0px;
      min-height: 92vh;
      top: 8vh;
      width: 50%;
      transform: translateX(100%);
      transition: transform 0.4s ease-in;

      @apply bg-gray-700 absolute flex flex-col items-stretch;
    }

    .nav-links li {
      opacity: 0;
      @apply text-center;

    }

    .burger {
      display: block;
      padding: 5px;
    }
  }

  .nav-active {
    transform: translateX(0%);

  }

  
  .toggle .line1 {
    transform: rotate(-45deg) translate(-5px, 6px);
  }

  .toggle .line2 {
    opacity: 0;
  }

  .toggle .line3 {
    transform: rotate(45deg) translate(-5px, -6px);
  }

/* this is the end of  the navbar css */


.header-container {
  background-image: url('img/header.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.header {
  background-color: rgba(0, 0, 0, .3);
}

.product-img {
  height: 40rem;
  width: 70rem;
  object-fit: cover;
  overflow: hidden;
  @apply cursor-pointer p-1;
}

.add-to-cart-btn {
  @apply bg-green-200 text-2xl font-medium w-full p-5 mt-5 border-2 border-green-700 hover:bg-green-400;
}

.price {
  @apply bg-green-200 text-black text-3xl p-3 m-3 ml-0 rounded-3xl font-bold float-right;
}

.line-through-price {
  @apply text-black text-2xl p-3 my-3 mr-0 rounded-3xl line-through font-medium float-right;
}

.cone {
  @apply bg-gray-100 text-black text-xl p-3 m-3 ml-0 rounded-3xl font-medium float-left cursor-pointer;
}

.card-container {
  @apply max-w-3xl shadow-2xl hover:bg-gray-50 mx-auto my-5;
}

.product-header {
  @apply p-3 m-3 mt-0 text-5xl font-medium cursor-pointer overflow-ellipsis overflow-hidden line-clamp-1;
}

.product-details {
  @apply text-black text-2xl font-medium mx-5 text-left overflow-ellipsis overflow-hidden line-clamp-4;
}

.frozen {
  @apply bg-blue-200 text-black text-xl p-3 m-3 ml-3 rounded-3xl font-medium float-left cursor-pointer;
}

.product-type {
  @apply text-black text-xl p-3 m-3 ml-0 rounded-3xl font-medium float-left cursor-pointer;
}

.card-dropdown {
  position: relative;
}

.card-dropdown #shopping-cart{
  display: none;
}
.card-dropdown:hover #shopping-cart{
  right:-50px;
  top:7vh;
  z-index: 1;
  padding: 20px;
  min-height: 400px;
  min-width: 300px;
  animation-name: navCartFade;
  animation-duration: 0.5s; 
   @apply bg-gray-700 absolute block rounded-xl text-xl;
}

.remove-from-cart {
  @apply text-red-600 text-xl px-2 bg-red-200 rounded-full hover:bg-red-600 hover:text-red-200
}

.empty-cart-btn {
  @apply  text-2xl font-medium  p-5 mt-5 border-2  bg-red-300 hover:bg-red-600 border-red-900
   hover:text-white rounded-2xl w-full block text-center;
}

}


/* animation for navbar css start*/
@keyframes navLinkFade {
  from {
    opacity: 0;
    transform: translateX(50px);
  }

  to {
    opacity: 1;
    transform: translateX(0px)
  }
}
/* animation for navbar css stop */


@keyframes navCartFade {
  from {
    opacity: 0;
    transform: translateY(20px);
  }

  to {
    opacity: 1;
    transform: translateY(0px)
  }
}
